@font-face {
    src: url('Shafarik-Regular.ttf') format('truetype');
    font-family: 'Shafarik-Regular';
}

@font-face {
    src: url('BebasNeue-Regular.ttf') format('truetype');
    font-family: 'BebasNeue-Regular';
}